body{
    background:  #00051d;
    margin: 0;
    padding: 0;
}

table, td{
    padding: 7px;
    border-collapse:collapse ;
}

.give{
    width:100%;
    height: 100%;
    border-radius: 50%;
    animation: hol 3s linear infinite;
}


@keyframes hol {
    0%{
        transform: rotate(8deg); 
    }
    50%{
        transform: rotate(-8deg); 
    }
    100%{
        transform: rotate(8deg); 
    }
    
}

div{
   background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width:150px;
    height: 150px;
}

.uno{
    padding: 0%;
    background-image: url(cod.gif);;
}

.dos{
    background-image: url(cod.gif);
}
.doss{
    
    margin: 15px;  
    text-align: center; 
   font-size: 120px;
   color: white;

}


.tres{
    padding: 0;
    margin: 0;
}


ul{
    font-family: sans-serif;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(34, 32, 32);
}
li{
   
    float: left;
}

li a{
    font-family: sans-serif;
    width: 117.8px;
    display: block; 
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

li a:hover:not(.list1){
    transform: scale(1.2);
    background-color: rgb(17, 16, 16);
}

#pared{
    margin: 15px;
    text-align: justify;
    font-size: 20px;
    font-family: Segoe UI Black;
    color: white;
}

.dance{
    width: 40%;
    height:55%;
    animation: fafe 5s linear infinite;
}

.dance:hover{
    animation-play-state: paused;
}
@keyframes fafe{
    0%{
        -webkit-transform: rotateY(360deg);
        transition: 2s ease-in-out;
    }
}
.mal{
    font-size: 60px;
    font-family: "arial black";
    text-align: center;
    color: white;
    text-shadow: 5px 5px red, -5px -5px rgb(0, 89, 255);
    animation: rico 2s linear infinite ;
}

@keyframes rico{
    15%{ 
        text-shadow: 2px 2px red, -2px -2px rgb(0, 89, 255);
    }
    30%{ 
        text-shadow: -2px -2px red, 2px 2px rgb(0, 89, 255);
    }
    45%{ 
        text-shadow: -5px -5px red, 5px 5px rgb(0, 89, 255);
    }

    60%{ 
        text-shadow: 2px -5px red, 2px -2px rgb(0, 89, 255);
    }

    75%{ 
        text-shadow: 2px -2px red, -2px 2px rgb(0, 89, 255);
    }

    90%{ 
        text-shadow: 5px -5px red, -5px 5px rgb(0, 89, 255);
    }
    
    100%{ 
        text-shadow: 3px 3px red, -3px -3px rgb(0, 89, 255);
    }
    
}

.city{
    border: 2px solid black;
    border-radius: 20px;
    width: 60%;
    height: 80%;
    animation: riccc 3s infinite;
  
}


@keyframes riccc{
    0%{ 
        box-shadow: -7px 0px #1c2aec, 7px 0px #ff0000, 0px -7px #ffee00, 0px 7px #2bff00;
    }
    15%{ 
        box-shadow: 7px 0px #1c2aec, -7px 0px #ff0000, 0px 7px #ffee00, 0px -7px #2bff00;
    }
    30%{ 
        box-shadow: -7px 0px #1c2aec, 7px 0px #ff0000, 0px -7px #ffee00, 0px 7px #2bff00;
    }
    45%{ 
        box-shadow: 7px 0px #1c2aec, -7px 0px #ff0000, 0px 7px #ffee00, 0px -7px #2bff00;
    }
    60%{ 
        box-shadow: -7px 0px #1c2aec, 7px 0px #ff0000, 0px -7px #ffee00, 0px 7px #2bff00;
    }

    75%{ 
        box-shadow: 7px 0px #1c2aec, -7px 0px #ff0000, 0px 7px #ffee00, 0px -7px #2bff00;
    }

    90%{ 
        box-shadow: -7px 0px #1c2aec, 7px 0px #ff0000, 0px -7px #ffee00, 0px 7px #2bff00;
    }
    
}
    
 

